<div class="container-fluid">
    <div class="col-md-offset-2"></div>
    {{#each plans as |p index|}}
        {{plan-price name=p.plan index=index }}
    {{/each}}
    {{plan-price name="Normal" index=plans.length }}
</div>