<div class="panel panel-default col-xs-12 col-sm-6 col-md-2 {{if index "" "col-md-offset-2"}}">
    <div class="panel-body">
        <h4 class="text-center">
            {{name}}
        </h4>
        <div class="text-center">
            R$&nbsp;<span class="text-large">{{precoInteiro}}</span><span>,{{precoCentavos}}</span>
        </div>
    </div>
</div>