<h3 class="text-center">Comparar Planos</h3>

<div class="container">
    <div class="panel panel-default col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 pad-top pad-bottom">
        <div class="panel-body">
            <div class="col-xs-12 col-md-4">
                {{city-selector labelText="Origem" cities=cities selectedDDD=dddOrigem}}
            </div>

            <div class="col-xs-12 col-md-4">
                {{city-selector labelText="Destino" cities=cities selectedDDD=dddDestino}}
            </div>

            <div class="col-xs-12 col-md-4">
                <label>Tempo</label>
                {{input class="form-control" value=totalMinutos placeholder="Minutos"}}
                {{#if (v-get this "totalMinutos" "isInvalid")}}
                    <div class="text-danger">
                        {{v-get this "totalMinutos" "message"}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
