<h2>Comparar planos</h2>

<label for="ddd-origem">Origem</label>
{{input value="11"}}

<label for="ddd-destino">Destino</label>
{{input value="18"}}

<label for="ddd-tempo">Tempo</label>
{{input value="200"}}