.title-big {
    font-size: 26pt;
}

.pad-top {
    padding-top: 30px;
}

.pad-bottom {
    padding-bottom: 35px;
}

.fixed-width-270 {
    width: 270px;
}

.clickable { 
    cursor: pointer;
    cursor: hand;
}

.text-large {
    font-size: 24pt;
}