<div class="page-header">
    <h1>Sobre este projeto</h1>
</div>

<h2>Tecnologias</h2>
<p>Ember.js</p>

<h2>Instalação</h2>
<p>Basta rodar 'ember install' em uma linha de comando no diretório do projeto.</p>