<div class="page-header">
    <div class="center-block clearfix fixed-width-270">
    <img src="/assets/images/scup-logo.png" height="50" class="pull-left" /><span class="title-big pull-right">Fale+</span>
    </div>
</div>

{{plan-inputs cities=model.cities}}

{{plan-results plans=model.plans}}