<div class="page-header">
    <div class="center-block clearfix fixed-width-270">
    <img src="/assets/images/scup-logo.png" height="50" class="pull-left" /><span class="title-big pull-right">Fale+</span>
    </div>
</div>

{{plan-inputs cities=model.cities dddOrigem=origem dddDestino=destino totalMinutos=minutos}}

{{plan-results plans=model.plans prices=model.prices dddOrigem=origem dddDestino=destino minutos=minutos}}